spring:
  config:
    import: "optional:classpath:application-security.yml"
  application:
    name: "LOCO - Local Collection Platform"
  datasource:
    url: "${custom.datasource.url}"
    username: "${custom.datasource.username}"
    driver-class-name: "org.postgresql.Driver"
  jpa:
    database-platform: "org.hibernate.dialect.PostgreSQLDialect"
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        jdbc:
          batch_size: 100
        order_inserts: true
        order_updates: true
