name: CI Workflow

on:
  push:
    branches:
      - main  # main 브랜치에 push될 때 CI가 실행됩니다.
  pull_request:
    branches:
      - main  # main 브랜치로 PR을 보낼 때 CI가 실행됩니다.

jobs:
  build:
    runs-on: ubuntu-latest  # CI 서버에서 사용할 운영체제
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 21
        uses: actions/setup-java@v2
        with:
          java-version: '21'  # JDK 21 설정
          distribution: 'temurin'

      - name: Cache Gradle dependencies
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Give Gradle wrapper execute permissions
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew build  # Gradle로 빌드 수행

      - name: Run tests with Gradle
        run: ./gradlew test  # Gradle로 테스트 수행
